body{
    margin: 0%;
    padding: 0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label{
    font-weight: 600;
}
.h1{
    color: rgb(255, 255, 255);
    background-color:rgb(134, 76, 168) ;
    margin-top: 0%;
}
hr{
    margin: 0px;
}
.h2{
    color: white;
    margin: 0px;
    background-color:rgb(134, 76, 168);
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
.top{
    display: flex;
    
}
.info{
    position: relative;
    height: 400px;
    top: 100px;
}
main{
    width: 100%;
}
.btn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    border-radius: 10px;
    color: white;
    background-color:rgb(134, 76, 168) ;
}
.btn:hover{
    background-color:rgb(104, 54, 133) ; 
}
.design{
    width: 50%;
}
.footer{
    height: 100px;
}
.Ass3{
    position: relative;
    left: 24%;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    border-radius: 10px;
    color: white;
    background-color:rgb(134, 76, 168) ;
}
.Ass3:hover{
    background-color:rgb(104, 54, 133) ; 
    color: rgb(204, 196, 196);


}
.recipt{
    display: none;
}
.printbtn{
    position: relative;
    left: 24%;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    border-radius: 10px;
    color: white;
    background-color:rgb(134, 76, 168) ;
}
